@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color:black;
    font-family: 'Inter';
    font-style: normal;
   
}
.main{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 440px;
    top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;

background: #1F2937;
}
.enter{
    position: absolute;
    width: 400px;
    height: 150px;
    left: 0px;
    top: 0px;

    background: #6943FF;
    border-radius: 25px 25px 0px 0px;
}
.enter p{
    position: absolute;
    width: 300px;
    height: 10px;
    left: 50px;
    top: 10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 3px;
    /* identical to box height, or 136% */
    
    text-align: center;
    letter-spacing: -0.03em;
    
    color: #FFFFFF;
}
.enter input{
    
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 50px;
    left: 150px;
    top: 48px;

    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
}
.enter button{
    position: absolute;
    width: 90px;
    height: 30px;
    left: 150px;
    top: 110px;

    background: #FFFFFF;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border:0px;
}
.length{
    position: absolute;
    width: 350px;
    height: 90px;
    left: 25px;
    top: 170px;

    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    border-radius: 10px;

}
.volume{
    position: absolute;
    width: 350px;
    height: 90px;
    left: 25px;
    top: 280px;

    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    border-radius: 10px;
}
.mass{
    position: absolute;
    width: 350px;
    height: 90px;
    left: 25px;
    top: 390px;

    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
    border-radius: 10px;
}

.length p{
    position: absolute;
    width: 300px;
    height: 25px;
    left: 25px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    /* or 100% */

    text-align: center;

    color: #CCC1FF;
}
.volume p{
    position: absolute;
    width: 300px;
    height: 25px;
    left: 25px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    /* or 100% */

    text-align: center;

    color: #CCC1FF;
}
.mass p{
    
    position: absolute;
    width: 300px;
    height: 25px;
    left: 25px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    /* or 100% */

    text-align: center;

    color: #CCC1FF;
}